body {
    background-image: url("http://eskipaper.com/images/simple-dark-background-1.jpg");
    color: white;
}

#song {
    background-color: gray;
}

#songImg{
    display: inline;
}

#songInfo {
    display: inline;
}

#messageList {
    list-style-type: none;
}